<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoCurrencyTrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <CryptoCurrencyTrader.Properties.Settings>
            <setting name="BithumbAPIKey" serializeAs="String">
                <value>b440f67ffbe9fed16693caa5a0d53002</value>
            </setting>
            <setting name="BithumbSecretKey" serializeAs="String">
                <value>d02be90f1a46885cc31fd87690117426</value>
            </setting>
            <setting name="RemoteHost" serializeAs="String">
                <value>https://api.bithumb.com</value>
            </setting>
        </CryptoCurrencyTrader.Properties.Settings>
    </userSettings>
</configuration>